%h1= @sermon.name
%h3= link_to "Edit Sermon", edit_admin_sermon_path(@sermon)

#jplayer
=link_to "Play Sermon", "javascript:$('#jplayer').jPlayer('play');", :class => "btn primary"
%ul
  %li=@sermon.date.strftime("%m-%d-%y")
  %li=@sermon.name
  %li=@sermon.preacher
:javascript
  $(document).ready(function(){
    var global_lp = 0;
    var global_ready = 0;
    $("#jplayer").jPlayer({
      ready: function ()
      {
        $(this).jPlayer("setMedia", {mp3: '#{@sermon.sermon.url}'});
      }
    });
  });
