.row.well
  #top_header_carousel.carousel
    .carousel-inner
      .item.active
        %h2.call_out Come Worship With Us.
  %hr
  .span12
    .span4
      .well
        .meeting_times
          %h2 Meeting Times
          %ul
            %li
              %h3 Sunday Morning
              9:30 AM Worship
              %br
              10:30 AM Bible Study
            %li
              %h3 Sunday Evening
              5:00 PM Worship
            %li
              %h3 Wednesday Evening
              7:00 PM Bible Study
            %br
            Assembling regularly at 380 Hickory Road, Gardendale, AL
            %a{:href => "javascript:void(0);", :class => "assembly_text", :onclick => "$('#map_modal').modal({show: true});"} (click here for map)
    .span6
      #carousel.carousel
        .carousel-inner
          - @carousel_images.each_with_index do |carousel_image, index|
            .item{:class => "#{index == 0 ? "active" : ""}"}
              =image_tag carousel_image.image.url(:original)
#map_modal.modal.fade
  .modal-header
    %a{:class => "close", "data-dismiss" => "modal"}x
    %h3 North Gardendale church of Christ
  .modal-body
    %a{:href => "http://g.co/maps/vjg2h"}=image_tag "http://maps.google.com/maps/api/staticmap?center=33.700981,-86.820861&zoom=13&markers=33.700981,-86.820861&size=530x300&sensor=true"
    %a{:href => "http://g.co/maps/vjg2h"} Click here to open in Google Maps
-content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#top_header_carousel').carousel({
        interval: 5000,
        loop: true
      })
    })
