.front_page_strip
.row.home_page_row
  .span4
    .service_times
      %br
      %br
      %br
      %h5 Meeting Times
      %ul
        %li
          %h3 Sunday Morning
          9:30 AM Worship
          %br
          10:30 AM Bible Study
        %li
          %h3 Sunday Evening
          5:00 PM Worship
        %li
          %h3 Wednesday Evening
          7:00 PM Bible Study
        %a{:href => "javascript:void(0);", :class => "assembly_text", :onclick => "$('#map_modal').modal({show: true});"}Assembling regularly at 380 Hickory Road, Gardendale, AL (click here for map)
  .span8
    #carousel.carousel
      .carousel-inner
        - @carousel_images.each_with_index do |carousel_image, index|
          .item{:class => "#{index == 0 ? "active" : ""}"}
            =image_tag carousel_image.image.url(:original)
            .carousel-caption
              %h4=carousel_image.header
              %p=carousel_image.caption
#map_modal.modal.fade
  .modal-header
    %a{:class => "close", "data-dismiss" => "modal"}x
    %h3 North Gardendale church of Christ
  .modal-body
    %a{:href => "http://g.co/maps/vjg2h"}=image_tag "http://maps.google.com/maps/api/staticmap?center=33.700981,-86.820861&zoom=13&markers=33.700981,-86.820861&size=530x300&sensor=true"
    %a{:href => "http://g.co/maps/vjg2h"} Click here to open in Google Maps
-content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#carousel').carousel({
        interval: 2000
      })
    })
