.span8
  #carousel.carousel
    .carousel-inner
      - @carousel_images.each_with_index do |carousel_image, index|
        .item{:class => "#{index == 0 ? "active" : ""}"}
          =image_tag carousel_image.image.url(:original)
          .carousel-caption
            %h4=carousel_image.header
            %p=carousel_image.caption
.span3
  .well
    %h5 Service Times
    %ul
      %li
        %b Sunday Morning
        %br
        9:30 AM Worship
        %br
        10:30 AM Bible Study
      %li
        %b Sunday Evening
        %br
        5:00 PM Worship
      %li
        %b Wednesday Evening
        %br
        7:00 PM Bible Study

    %h5 Events
    %table.bordered-table.zebra-striped
      -@events.each do |event|
        %tr
          %td=event.date
          %td=event.name
-content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('#carousel').carousel({
        interval: 5000
      })
    })
